html {
    background-color: rgb(24, 24, 24);
    margin: 0;
    padding: 0;
}
#imo {
    color: chartreuse;
}
#title {
    padding: 5pt 10pt 10pt 10pt;
    background-image: url('https://images-ext-1.discordapp.net/external/Hsk-tMG5twodc6eZCLZE1uS6aWNvdKqqJmV6ksay4CA/https/cdn.discordapp.com/avatars/725511833833832469/61cb9652c4dac6cbc71ab754425d99cd.png');
    text-align: center;
    color: black;
    outline: groove gray;  
    text-shadow: darkblue 0pt 0pt 10pt;
    text-decoration-style: wavy;
    text-decoration-color: red;
}
#text {
    text-align: center;
    color: black;
}
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.menuB1{
    position: absolute;
    top: 5em; bottom: auto;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    padding: .25em .75em; 
    align-items: center;  
}
.menuB1:hover{
    position: absolute;
    top: 4.8em; bottom: auto;
    text-shadow: 0em 0em .5em white; 
}
.menueB2 {
    position: absolute;
    top: 8em; bottom: auto;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    padding: .25em .75em;
    align-items: center;   
}
.menueB2:hover {
    position: absolute;
    top: 7.8em; bottom: auto;
    text-shadow: 0em 0em .5em white;   
}
.menuB3 {
    position: absolute;
    top: 11em; bottom: auto;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    padding: .25em .75em;
    align-items: center;   
}
.menuB3:hover {
    position: absolute;
    top: 10.8em; bottom: auto;
    text-shadow: 0em 0em .5em white;   
}
.menuB4{
    position: absolute;
    top: 14em; bottom: auto;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    padding: .25em .75em;
    align-items: center;   
}
.menuB4:hover{
    position: absolute;
    top: 13.8em; bottom: auto;
    text-shadow: 0em 0em .5em white;   
}
.menue {
    position: absolute;
    top: 12em; right: .5em;
    background-color: rgb(12, 12, 12);
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: .5em 3em 16em 1em;
}
.metitle {
    text-align: center;
    padding-top: -5em;
}
