html {
    background-color: black;
}
#imo {
    color: chartreuse;
}
#title {
    padding: 5pt 10pt 10pt 10pt;
    background-image: url('https://images-ext-1.discordapp.net/external/Hsk-tMG5twodc6eZCLZE1uS6aWNvdKqqJmV6ksay4CA/https/cdn.discordapp.com/avatars/725511833833832469/61cb9652c4dac6cbc71ab754425d99cd.png');
    text-align: center;
    color: black;
    outline: groove gray;  
    text-shadow: darkblue 0pt 0pt 10pt;
    text-decoration-style: wavy;
    text-decoration-color: red;
}
#text {
    text-align: center;
    color: black;
}
.myBDiv{
    position: absolute;
    top: 75px; right: 50px;
    background-color: rgba(4, 117, 23, 0.562);
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
    color: white;
    text-decoration: none;
}
.menue {
    height: 500px;
    width: 200px;
    position: absolute;
    top: 200px; right: 10px;
    background-color: rgb(26, 26, 26);
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
}
.metitle {
    text-align: center;
    margin: 2px 2px 2px 2px;
}
