html {
    background: url('./images/Backing3.png');
    margin: 0;
    padding: 0;
}
#imo {
    color: chartreuse;
} 
#title {
    padding: 0em 10pt 0em 10pt;                                                                              
    text-align: center;
    color: white;  
    text-shadow: darkblue 0pt 0pt 10pt;
    text-decoration-style: wavy;
    text-decoration-color: red;
}
#text {
    text-align: center;
    color: black;
}
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.menuB1{
    position: absolute;
    top: 5em; bottom: auto;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    padding: .25em .75em; 
    align-items: center;  
}
.menuB1:hover{
    position: absolute;
    top: 4.8em; bottom: auto;
    text-shadow: 0em 0em .5em white; 
}
.menueB2 {
    position: absolute;
    top: 8em; bottom: auto;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    padding: .25em .75em;
    align-items: center;   
}
.menueB2:hover {
    position: absolute;
    top: 7.8em; bottom: auto;
    text-shadow: 0em 0em .5em white;   
}
.menuB3 {
    position: absolute;
    top: 11em; bottom: auto;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    padding: .25em .75em;
    align-items: center;   
}
.menuB3:hover {
    position: absolute;
    top: 10.8em; bottom: auto;
    text-shadow: 0em 0em .5em white;   
}
.menuB4{
    position: absolute;
    top: 14em; bottom: auto;
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    padding: .25em .75em;
    align-items: center;   
}
.menuB4:hover{
    position: absolute;
    top: 13.8em; bottom: auto;
    text-shadow: 0em 0em .5em white;   
}
.menue {
    position: absolute;
    top: 1em; right: 0em;
    background-color: rgba(12, 12, 12, 0.938);
    border-style: solid;
    border-color: rgba(214, 0, 0, 0.274);
    border-radius: 5px;
    padding: .0em 3em 15em 1em;
    margin: .5em 0em .5em .5em;
}
.metitle {
    text-align: center;
    padding-top: -5em;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 .5em red;
}
.TitleS {
    background-color: rgba(12, 12, 12, 0.699);
    border-radius: 3em;
    border-style: double;
    border-color: rgba(0, 11, 161, 0.404);
    padding: .2em;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.Text_Field {
position: absolute;
top: 1em; right: 15em; bottom: auto; left: 1em;
margin: .1em .1em .1em 0em;
padding: 1em;
border-radius: 2em;
border-style: double;
background-color: rgba(12, 12, 12, 0.877);
border-color: rgba(0, 11, 161, 0.404);
text-align: left;
color: white;
}
#contain {
    position: relative;
    bottom: 0em;
    margin: 0em;
    padding: 0em;
    background-color: rgb(12, 12, 12);
}
.linkz {
    text-emphasis: none;
    text-decoration-line: none;
    color: red;
}
#cata {
    position: relative;
    top: 0em; left: 0em; right: 0em; bottom: auto;
    background-color: rgb(24, 22, 22);
    border-radius: .3em;
    padding: 0em 0em 3em 0em;
}
.cat {
    position: absolute;
    top: 0em; bottom: 0em; left: 0em; right: 0em;
    padding: 1em;
    background-image: url('./images/pfp.png');
}
.cat1 {
    position: absolute;
    top: 0em; bottom: 0em; left: 3em; right: auto;
    border: solid;
    border-color: rgb(41, 41, 41);
    padding: .75em 2em 0em 2em;
    color: white;
    text-align: center;
    text-decoration: none;
}
.cat2 {
    position: absolute;
    top: 0em; bottom: 0em; left: 10em; right: auto;
    border: solid;
    border-color: rgb(41, 41, 41);
    padding: .75em 2em 0em 2em;
    color: white;
    text-align: center;
    text-decoration: none;
}
.cat3 {
    position: absolute;
    top: 0em; bottom: 0em; left: 17em; right: auto;
    border: solid;
    border-color: rgb(41, 41, 41);
    padding: .75em .95em 0em .95em;
    color: white;
    text-align: center;
    text-decoration: none;
}
.cat4 {
    position: absolute;
    top: 0em; bottom: 0em; left: 24em; right: auto;
    border: solid;
    border-color: rgb(41, 41, 41);
    padding: .75em 2em 0em 2em;
    color: white;
    text-align: center;
    text-decoration: none;
}
.cat5 {
    position: absolute;
    top: 0em; bottom: 0em; left: 34em; right: auto;
    padding: .75em 2em auto 2em;
    text-align: center;
    text-decoration: none;
    color: white;
}
.cat1:hover {
    text-shadow: 0em 0em .5em rgba(255, 0, 0, 0.342);
}
.cat2:hover {
    text-shadow: 0em 0em .5em rgba(255, 0, 0, 0.342);
}
.cat3:hover {
    text-shadow: 0em 0em .5em rgba(255, 0, 0, 0.342);
}
.cat4:hover {
    text-shadow: 0em 0em .5em rgba(255, 0, 0, 0.342);
}
.cat5:hover {
    text-shadow: 0em 0em .5em rgba(255, 0, 0, 0.342);
}
#cont {
    position: absolute;
    bottom: 0em; top: 12em;
}
.imexamples {
    position: absolute;
    top: 22em; left: 5em; right: 5em; bottom: auto;
    color: white;
    background-color: rgb(3, 3, 3);
    text-align: center;
    border-radius: 1em;
    border-style: double;
    border-color: rgba(214, 0, 0, 0.274);
    margin: 1em;
}
.imgz {
    border-radius: 1em;
    border-style: double;
    border-color: rgba(236, 0, 0, 0.39)
}
.endofpage {
    position: absolute;
    top: 92em; left: 10em; right: 10em; bottom: 0;
    color: rgb(116, 116, 116);
    padding: 1em;
}
.highblue {
    text-shadow: 0 0 .5em blue;
}